// Typografia e relação de 1.2 (): Fontes etc

// Fontes especiais & Typo
$font-path: "../css/fonts";
$lato-fontfamily: "lato", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 100%;
$line-height-base: 1.15;

$fontsize-md: 1rem; //Tamanho base, geralmente 1rem = 1em = 16px
$ratio-value: 1.2; // Relação do Terço menor, (1.2)

$fontsize-xs: $fontsize-md / 2 * $ratio-value;
$fontsize-sm: $fontsize-md / $ratio-value;
$fontsize-mdplus: $fontsize-md + (0.2 * $ratio-value);
$fontsize-lg: $fontsize-md + (0.37 * $ratio-value);
$fontsize-xl: $fontsize-md + (0.6 * $ratio-value);
$fontsize-xxl: $fontsize-md + (0.9 * $ratio-value);
$fontsize-2xl: $fontsize-md + (1.24 * $ratio-value);
$fontsize-3xl: $fontsize-md + (1.65 * $ratio-value);


// Headings
$headings-font-family: $lato-fontfamily;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: inherit;



// Caminhos para imagens
$image-path-theme: "../images";


$text-color: #566573;



// Color system

//
$white:  #fff !default;
$gray-100: #121A21 !default;
$gray-200: #243342 !default;
$gray-300: #394D60 !default;
$gray-400: #617385 !default;
$gray-500: #adb5bd !default;
$gray-600: #8B99A7 !default;
$gray-700: #B6BFC8 !default;
$gray-800: #E0E5EB !default;
$gray-900: #F5F7FA !default;
$black:  #000 !default;

$grays: () !default;
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$azul-sebrae:    #005EB8 !default;
$indigo:  #0F438A !default;
$purple:  #994599 !default;
$pink:    #F3D8DA !default;
$red:     #BF303C !default;
$orange:  #F5623D !default;
$yellow:  #FFBC33 !default;
$green:   #35B068 !default;
$teal:    #0E778B !default;
$cyan:    #00CC92 !default;

// Shards Specific
$blueish-grey: #142E52 !default;

$colors: () !default;
$colors: map-merge((
        "blue":       $azul-sebrae,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
), $colors);

$primary:       $azul-sebrae !default;
$secondary:     $blueish-grey !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);



// Carousel do Base
$carousel-control-color-base: $gray-900;
$carousel-control-next-icon-bg-base: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color-base}' viewBox='0 0 24 24'><path d='M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z'/></svg>") ;
$carousel-control-prev-icon-bg-base: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color-base}' viewBox='0 0 24 24'><path d='M11.29,12l3.54-3.54a1,1,0,0,0,0-1.41,1,1,0,0,0-1.42,0L9.17,11.29a1,1,0,0,0,0,1.42L13.41,17a1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41Z'/></svg>");


$carousel-control-width-base:             15% !default;
$carousel-control-opacity-base:           .5 !default;
$carousel-control-hover-opacity-base:     .9 !default;
$carousel-control-transition-base:        opacity .15s ease !default;

$carousel-indicator-width-base:           16px !default;
$carousel-indicator-height-base:          16px !default;
$carousel-indicator-hit-area-height-base: 16px !default;
$carousel-indicator-spacer-base:          4px !default;
$carousel-indicator-active-bg-base:       $gray-900 !default;
$carousel-indicator-transition-base:      opacity .6s ease !default;

$carousel-caption-width-base:             70% !default;
$carousel-caption-color-base:             $gray-900 !default;

$carousel-control-icon-width-base:        48px !default;

$carousel-transition-duration-base:       .6s !default;
$carousel-transition-base:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
